<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentalcar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPathReservation.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainPathReservation.UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AdminProblemi"
            android:label="@string/title_activity_admin_problemi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Admin_button"
            android:label="@string/title_activity_admin_button"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Admin_log"
            android:label="@string/title_activity_admin_log"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.AddRemoveCarActivity"
            android:label="@string/title_activity_add_remove_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.AddStationsActivity"
            android:label="@string/title_activity_add_stations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.EmailFinalActivity"
            android:label="@string/title_activity_email_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.ConfirmationReservationCard"
            android:label="@string/title_activity_confirmation_reservation_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.ShowPrenotationsActivity"
            android:label="@string/title_activity_show_prenotations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.RecapReservation"
            android:label="@string/title_activity_recap_reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LateralMenu.EditReservation"
            android:label="@string/title_activity_edit_reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LateralMenu.Problems"
            android:label="@string/title_activity_problems"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LateralMenu.faq"
            android:label="@string/title_activity_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.FindStationActivity"
            android:label="@string/title_activity_find_station"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LateralMenu.Contacts"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPathReservation.CarChoosing"
            android:label="@string/title_activity_car_choosing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LinkedReservationClasses.CalendarActivity" />
        <activity
            android:name=".MainPathReservation.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>